.main-container {
    width: 100%;
    background-color: whitesmoke;

}

.containing {
    width: 100%;
    height: 100%;
    /* padding-top: 125px; */
    display: flex;
    justify-content: space-evenly;
    
}



 .bar-container {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background-color: black;

}

@media screen and (max-width: 1025px) {
    .bar-container {
        width: 100%;
    }
}



.item-container {
    display: flex;
    flex-flow: wrap;
    margin-top: 56px;
}

@media screen and (max-width: 1025px) {
    .item-container {
        width: 50%;
    }
}



.item {
    background: palegoldenrod;
    color: black;
    margin-bottom: 35px;
    text-align: left;


}



.super-container {

    /* padding-left: 360px; */
    /* transform: translate(500px, 0px);
    transition: transform 1s; */

}




.items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 56px;
    /* background-color: whitesmoke; */

}


@media screen and (max-width: 1025px) {
    .items {
        width: 80%;
    }
}

.item-description {
    
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: white;
    /* overflow: hidden; */
    animation-name: glides;
    animation-duration: 2s;
    width: 100%;

}

@keyframes glides {
    from{color: #333333}
    to{color: white}



}

.item-description-active {
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color:white;
    /* overflow: hidden; */
    animation-name: slides;
    animation-duration: 2s;
    width: 100%;

}

.descr {
    height: 150px;
    width: 100%;
}

@keyframes slides {
    /* from{  width: 0px }
    to{ width: 425px } */
from{color: #333333}
to{color: white}



}


.item-active {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color:black;
    

}

.img-contain {
    width: 425px;
    height: 460px;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 1025px) {
    .img-contain {
        width: 200px;
        height: 100px;
        margin-right: 150px;

    }
}



.item-pic {
    left: 0;
    position: absolute;
    width: 425px;
    height: 460px;
    animation-name: slide;
    animation-duration: .5s;
    
}

@keyframes slide {
    from{   width: 0px }
    to{  width: 425px }

}

.item-pic-active {
    left: 0;
    position: absolute;
    width: 425px;
    height: 460px;
    animation-name: glide;
    animation-duration: .5s;
}

@media screen and (max-width: 1025px) {
    .img-contain img{
        position: absolute;
        width: 325px;
        height: 260px;
        animation-name: glide;
        animation-duration: .5s;
        }
}



@keyframes glide {
    from{ width: 0px }
    to{  width: 425px }
}



.side-bar-container {
    padding: 0;
    height: 100vh;
    position: fixed;
    z-index: 98;
    /* align-self: center; */
}

.side-bar {
    
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d9d9d9;


    /* display: flex;
    flex-direction: column; */

}

.side-bar-list {
    width: 100%;
    z-index: 98;

}



/* .side-bar h2 {
    width: 500%;
    justify-self: center;
    font-size: 120%;
} */

.side-bar h2 {
    padding-top: 100px;
}

.side-bar ul {
    padding-top: 100px;

}

.side-bar li {
    border-right: 1px grove black;
    background-color: #d9d9d9;
    list-style: none;
    height: 70px;
    color: #333333;
    font-size: 20px;
    font-family: acumin-pro-condensed;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.8px;
    transition-property: background-image, transform;
    transition-timing-function: 3s;
    transform: translateX(-100, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    

}


.side-li active{
    width: 100%;

}

.logo-img {
    align-self: center;
    width: 120px;
    margin-top: 110px;
    
}

@media screen and (max-width: 1025px) {
    .logo-img {
        display: none;
    }
}


.side-bar li:hover {
    background-color: white;
    cursor: pointer;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-style: italic;
    background-image: url('../img/weird.png');
    animation-name: move;
    animation-duration: .5s;
    background-size: 140px;
    background-position: center;
    background-repeat: no-repeat;
    

}

@keyframes move {
    from{ background-size: 0px; }
    to{ background-size: 140px; }


}



.side-li {

    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 15px;
    background-image: url('../img/weird.png');
    background-size: 140px;
    background-position: center;

    background-repeat: no-repeat;

}

/* @media screen and (max-width: 1025px) {
    .side-li{
        font-size: 10px;
    }
} */


.icon {
    font-size: 18px;
}




.style-tag {
    height: 100px;
    top: 0px;
    

}

.descr {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-family: acumin-pro-condensed;
    text-decoration: none;
    list-style: none;
    color:  #333333;
    background-color: whitesmoke;
}

@media screen and (max-width: 1025px) {
    .descr {
        margin-top: 100px;
        margin-right: 150px;

    }

}


.descr:hover {
    text-decoration: none;
    list-style: none;

}

.descr p {
    font-size: 100%;
    word-wrap:break-word;

    
}



.price {
   align-self: flex-end;
   word-wrap:break-word;

   
}

.remove {
    background-color: red;
    color: white;
    width: 100px;
}
