.main-container {
    width: 100%;
    background-color: #d9d9d9;
}

.containing {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* padding-top: 125px; */
    display: flex;
    justify-content: flex-end;
}


/* section {
    width: 100%;
   height: 100%;

} */

.containing .bar-container {
    width: 25%;
    height: 100%;
    position: sticky;
    top: 0;

}


.item-container {
    display: flex;
    flex-flow: wrap;
    width: 75%;
    margin-top: 56px;
    border-left: solid 1px white;
}


.item {
    background: palegoldenrod;
    color: black;
    margin-bottom: 35px;
    text-align: left;


}



.super-container {

    /* padding-left: 360px; */
    /* transform: translate(500px, 0px);
    transition: transform 1s; */

}

.items {
    width: 100%;
    display: flex;
flex-wrap: wrap;
    justify-content: space-evenly;
    justify-self: flex-end;
    padding-top: 56px;
    background-color: whitesmoke;

}



.item-description {
    
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: white;
    /* overflow: hidden; */
    animation-name: glides;
    animation-duration: 2s;
    width: 100%;

}

@keyframes glides {
    from{color: #333333}
    to{color: white}



}

.item-description-active {
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color:white;
    /* overflow: hidden; */
    animation-name: slides;
    animation-duration: 2s;
    width: 100%;

}

.descr {
    height: 150px;
    width: 100%;
}

@keyframes slides {
    /* from{  width: 0px }
    to{ width: 425px } */
from{color: #333333}
to{color: white}



}


.item-active {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color:black;
    

}

.img-contain {
    width: 425px;
    height: 460px;
    position: relative;
    text-align: center;
}


.item-pic {
    left: 0;
    position: absolute;
    width: 425px;
    height: 460px;
    animation-name: slide;
    animation-duration: .5s;
    
}

@keyframes slide {
    from{   width: 0px }
    to{  width: 425px }

}

.item-pic-active {
    left: 0;
    position: absolute;
    width: 425px;
    height: 460px;
    animation-name: glide;
    animation-duration: .5s;
}

@keyframes glide {
    from{ width: 0px }
    to{  width: 425px }
}



.side-bar-container {
    
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 110px;
    
    /* align-self: center; */
}

.side-bar {
    
    width: 100%;
    height: 100%;
    margin: 0;
    /* display: flex;
    flex-direction: column; */

}

/* .side-bar h2 {
    width: 500%;
    justify-self: center;
    font-size: 120%;
} */

.side-bar h2 {
    padding-top: 100px;
}

.side-bar ul {

    padding-top: 100px;

}

.side-bar li {
    border-right: 1px grove black;
    background-color: #d9d9d9;
    list-style: none;
    height: 70px;
    color: #333333;
    font-size: 20px;
    font-family: acumin-pro-condensed;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.8px;
    transition-property: background-image, transform;
    transition-timing-function: 3s;
    transform: translateX(-100, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    




}

.side-li active{


}

.logo-img {
    align-self: center;
    
}

.side-bar li:hover {
    background-color: white;

    cursor: pointer;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-style: italic;
    background-image: url('../img/weird.png');
    animation-name: move;
    animation-duration: .5s;
    background-size: 140px;
    background-position: center;
    background-repeat: no-repeat;
    

}

@keyframes move {
    from{ background-size: 0px; }
    to{ background-size: 140px; }


}

/* .side-bar li:hover {
    background-image: url('../img/feather.png');
    transform: translateX(-100, 0);

} */


.side-li {

    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 15px;
    background-image: url('../img/weird.png');
    background-size: 140px;
    background-position: center;

    background-repeat: no-repeat;

}

.icon {
    font-size: 18px;
}




.style-tag {
    height: 100px;
    top: 0px;
    

}

.descr {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-family: acumin-pro-condensed;
    text-decoration: none;
    list-style: none;
    color:  #333333;
    background-color: whitesmoke;
}

.descr:hover {
    text-decoration: none;
    list-style: none;

}

.descr p {
    font-size: 100%;
    
}

.price {
   align-self: flex-end;
   
}

.remove {
    background-color: red;
    color: white;
    width: 100px;
}
