.section-images {
}

.image-showcase {
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    transition: transform 1s;


}

.image-showcase li {
    float: left;
    width: 25%;
    height: 300px;

}

.showcaseOne {
    overflow: hidden;

}

.section-images li figure {
    width: 100%;
    overflow: hidden;
    background-color: #000;


}

.collage-img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.section-images li figure img {
    opacity: 0.5;
    width: 100%;
    height: 300px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 1s;
}


.section-images li figure img:hover {
    opacity: 1;
    transform: scale(1);
}

.hideOne {
    overflow: hidden;
 
 
 }
 
 .hideTwo {
     overflow: hidden;
 
 
 }
 
 
 