.icon-contain {
    background-color: #798990;
    height: 350px;
    display: flex;
    flex-direction: column;
    
}

.icons {
    cursor: pointer;
    align-self: center;
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contain {
    background-color: #798990;
    display: flex;
    justify-content: space-evenly;
    height: 80%;
 
}

.footer-container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: black;
    
}

.footer-container h3 {
    font-size: 160%;
    color: #bfd4d4;
    font-weight: bold;
}

.footer-container p {
    font-size: 160%;
    color: white;
    font-weight: bold;
}

.footer-box {
    height: 175px;
}

