.container {
    display: flex;
    justify-content: space-evenly;


}

/* .sticky {
    position: fixed;
    top: 8;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
} */



.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index:99;   
    background-color : white;
 
}



.clothes-list {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.cart-about {
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;

}

.cart-about p {
    margin: 0;
}

.brand {
    list-style: none;
    color: black;
    text-decoration: none;
}

.brand h1:hover {
    list-style: none;;
    
}

.clothes-links {
    font-size: 22px;
    color: black;
    opacity: 5;
    
    
}

 /* .clothes-links li:link,
 .clothes-links li:visited {
    position: fixed;
    top: 8;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);

} */

.home-image {
    width: 80px;
    height: 60px;
    
}




/* .sticky {
    position: fixed;
    top: 8;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
} */


.sticky {
    position: fixed;
    top: 8;
    left: 0;
    width: 100%;
    background: white;
    /* background-color: rgba(255, 255, 255, 0.98); */
    /* z-index:99;   */
  

} 
